* {
  margin: 0;
  padding: 0;
}

.tda-1 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/Recursos/enojos2_192.webp);
  background-size: cover;
  background-position: center;
}

.tda-2 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/Recursos/cuadernos2_192.webp);
  background-size: cover;
  background-position: center;
}

.tda-3 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/Recursos/sentim7_192.webp);
  background-size: cover;
  background-position: center;
}

.tda-4 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/Recursos/charlatanes2_192.webp);
  background-size: cover;
  background-position: center;
}

.tda-5 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/Recursos/Digalo1_192.webp);
  background-size: cover;
  background-position: center;
}

.tda-6 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/Recursos/mispersonajes1_192.webp);
  background-size: cover;
  background-position: center;
}

.tda-7 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/Recursos/miedos3_192.webp);
  background-size: cover;
  background-position: center;
}

.tda-8 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/Recursos/Aveces2_192.webp);
  background-size: cover;
  background-position: center;
}

.tda-9 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/catalogo/alavez.png);
  background-size: cover;
  background-position: center;
}

.tda-10 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/Recursos/familias1_192.webp);
  background-size: cover;
  background-position: center;
}

.tda-11 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/Recursos/motivos1_192.webp);
  background-size: cover;
  background-position: center;
}

.tda-12 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/Recursos/quesentiashoy1_192.webp);
  background-size: cover;
  background-position: center;
}

.tda-1 {
  transform: rotateY(0deg);
  transition: transform 5s;
}
.tda-1:hover {
  transform: rotateY(360deg);
}

.tda-2 {
  transform: rotateY(0deg);
  transition: transform 5s;
}
.tda-2:hover {
  transform: rotateY(360deg);
}

.tda-3 {
  transform: rotateY(0deg);
  transition: transform 5s;
}
.tda-3:hover {
  transform: rotateY(360deg);
}

.tda-4 {
  transform: rotateY(0deg);
  transition: transform 5s;
}
.tda-4:hover {
  transform: rotateY(360deg);
}

.tda-5 {
  transform: rotateY(0deg);
  transition: transform 5s;
}
.tda-5:hover {
  transform: rotateY(360deg);
}

.tda-6 {
  transform: rotateY(0deg);
  transition: transform 5s;
}
.tda-6:hover {
  transform: rotateY(360deg);
}

.tda-7 {
  transform: rotateY(0deg);
  transition: transform 5s;
}
.tda-7:hover {
  transform: rotateY(360deg);
}

.tda-8 {
  transform: rotateY(0deg);
  transition: transform 5s;
}
.tda-8:hover {
  transform: rotateY(360deg);
}

.tda-9 {
  transform: rotateY(0deg);
  transition: transform 5s;
}
.tda-9:hover {
  transform: rotateY(360deg);
}

.tda-10 {
  transform: rotateY(0deg);
  transition: transform 5s;
}
.tda-10:hover {
  transform: rotateY(360deg);
}

.tda-11 {
  transform: rotateY(0deg);
  transition: transform 5s;
}
.tda-11:hover {
  transform: rotateY(360deg);
}

.tda-12 {
  transform: rotateY(0deg);
  transition: transform 5s;
}
.tda-12:hover {
  transform: rotateY(360deg);
}

body {
  height: 100vh;
}

header {
  background: linear-gradient(90deg, rgb(2, 0, 36) 27%, rgb(33, 214, 241) 83%);
}
header nav ul {
  list-style-type: none;
  justify-content: end;
}
header nav ul li:hover {
  background-color: #6f42c1;
}
header nav ul li a {
  text-decoration: none;
}
header nav ul li a:visited {
  color: black;
}

.titprenc {
  text-align: center;
}

.pindex {
  font-size: 1.25rem;
  font-stretch: expanded;
}

.present {
  background-color: #c8e9e9;
}

footer {
  background-color: #00FFFF;
}

p {
  margin: 0.5em 0;
}
p:last-of-type {
  font-size: 0.9em;
}

.social-media a {
  transition: color 0.3s;
}
.social-media a:hover {
  color: #1b81e8;
}

.copy {
  background-color: rgba(0, 0, 0, 0.1);
}

.textojuegos {
  letter-spacing: 0.1em;
  line-height: 1.5;
  font-weight: 700;
  text-align: left;
}

#sep {
  margin-top: 3rem;
}

.bgmain {
  background-color: #c8e9e9;
}

.cont {
  width: 10rem;
  height: 3rem;
  color: #00FFFF;
}

.carr-1 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/catalogo/mispersonajes.png);
  background-size: cover;
  background-position: center;
}

.carr-2 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/catalogo/aveces.png);
  background-size: cover;
  background-position: center;
}

.carr-3 {
  width: 10rem;
  height: 10rem;
  background-image: url(../assets/images/catalogo/alavez.png);
  background-size: cover;
  background-position: center;
}

.boton {
  width: 200px;
  height: 50px;
  background-color: rgb(18, 114, 119);
  text-align: center;
  color: white;
  border-radius: 20px;
  border: 1px solid rgb(36, 19, 226);
}

/*# sourceMappingURL=styles.css.map */
