.carr-1{
    width: 10rem;
    height: 10rem;  
    background-image:$background-image-mispersonales;
    background-size: cover;
    background-position: center; 
}


.carr-2{
    width: 10rem;
    height: 10rem;  
    background-image: $background-image-aveces;
    background-size: cover;
    background-position: center;  
}
    
.carr-3{
    width: 10rem;
    height: 10rem;  
    background-image: $image-alavez;
    background-size: cover;
    background-position: center;  
}

                