.tam img{
    height: 30vh;
}

.nosmain {
    
    color: $text-color;



    .bold-text {
        font-weight: bold;
        font-size: 1.2remm;
    }

    .semi-bold-text {
        font-weight: 600; 
        font-size: 1.1rem;
    }
}