.carr-1{
    width: 10rem;
    height: 10rem;  
    background-image:$background-image-mispersonales;
    background-size: cover;
    background-position: center; 
}


.carr-2{
    width: 10rem;
    height: 10rem;  
    background-image: $background-image-aveces;
    background-size: cover;
    background-position: center;  
}
    
.carr-3{
    width: 10rem;
    height: 10rem;  
    background-image: $image-alavez;
    background-size: cover;
    background-position: center;  
}

.boton {
    width:200px;
    height:50px;
    background-color:rgb(18, 114, 119);
    text-align:center;
    color:white;
    border-radius:20px;
    border:1px solid rgb(36, 19, 226);
    }
    
            