.carr-1{
    width: 10rem;
    height: 10rem;  
    background-image:$background-image-mispersonales;
    background-size: cover;
    background-position: center; 
}


.carr-2{
    width: 10rem;
    height: 10rem;  
    background-image: $background-image-aveces;
    background-size: cover;
    background-position: center;  
}
    
.carr-3{
    width: 10rem;
    height: 10rem;  
    background-image: $image-alavez;
    background-size: cover;
    background-position: center;  
}

.boton {
    width:200px;
    height:50px;
    background-color:white;
    text-align:center;
    color:black;
    border-radius:20px;
    border:1px solid black;
    }
    .boton--aceptar{
    @extend .boton;
    background-color:green;
    color:yellow;
    }
    .boton--cancelar{
    @extend .boton;
    background-color:red;
    color:yellow;
    }
            