header{
    background: $bgheader;  

    nav{
        

        ul{
            
            list-style-type: none;
            justify-content: end;

            li{
                
                &:hover{
                    background-color: $purple;
                }

                a{
                    
                    text-decoration: none;
                    
                    
                }
            }
        }
    }
}

.highlight {
    color: white; 

  }




.resp {
    
    @media (max-width: 576px) {
       
      font-size: 0.8rem;         
    }
  
    @media (min-width: 577px) and (max-width: 768px) {
      
        font-size: 1.1rem;         
      }
    
    @media (min-width: 769px) and (max-width: 992px) {
      
        font-size: 1.1rempx;         
      }

    
  }


    
   
   




    
        