header{
    background: $bgheader; 
}

.titheader{
    color:$cyan ;
}

li{
    text-decoration: none;
}

ul{
list-style-type: none;
justify-content: end;

}

.Navp {
    
    color: white; 
    border: none; 
    padding: 0;
    cursor: pointer; 
    
}

.Navp:hover {
    background-color: #007bff; 
   
}






    
        