.titprenc{
    text-align: center;
    
}

.pindex{
    font-size: $h5-font-size;
    font-stretch: expanded;
    

}


.present{
   background-color: $light;

}

#ind{
    color: $bg-info;
    margin: 1rem;
}

.bg{
    background-image: url(../assets/images/Recursos/sentim6_192.webp);
}