$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

$tda-images: (
  tda-1: $recursos-img-enoj2,
  tda-2: $recursos-img-cuar2,
  tda-3: $recursos-img-sentim7,
  tda-4: $recursos-img-char2,
  tda-5: $recursos-img-diga1,
  tda-6: $recursos-img-misp1,
  tda-7: $recursos-img-mied3,
  tda-8: $recursos-imag-aveces2,
  tda-9: $recursos-imag-alavez1,
  tda-10:$recursos-img-fami1,
  tda-11:$recursos-img-motiv1,
  tda-12:$recursos-img-quesien1
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);






