$font-sizes: (
  1: $h1-font-size,
  2: $h2-font-size,
  3: $h3-font-size,
  4: $h4-font-size,
  5: $h5-font-size,
  6: $h6-font-size
);

$tda-images: (
  tda-1: $background-image-enojos,
  tda-2: $background-image-cuadernos,
  tda-3: $background-image-sentimientos,
  tda-4: $background-image-charlatanes,
  tda-5: $background-image-digalo,
  tda-6: $background-image-mispersonales,
  tda-7: $background-image-miedos,
  tda-8: $background-image-aveces,
  tda-9: $image-alavez
);







